.ListItem {
  background: "red";
  display: inline;
  background-color: blue;
  background-color: rgb(191, 12, 12);
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #222;
  box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.55);
}

.green {
  background-color: rgb(42, 178, 27);
}
.orange {
  background-color: rgb(205, 108, 23);
}
.blue {
  background-color: rgb(7, 72, 92);
}
.yellow {
  background-color: rgb(219, 210, 25);
  color: rgb(9, 5, 5);
}
.pink {
  background-color: rgb(176, 33, 140);
}
.red {
  background-color: rgb(191, 12, 12);
}
.a {
  background-color: rgb(113, 25, 62);
}
.b {
  background-color: rgb(60, 131, 177);
}
.c {
  background-color: rgb(7, 134, 75);
}
.d {
  background-color: rgb(135, 126, 3);
}
.e {
  background-color: rgb(237, 235, 207);
  color: rgb(9, 5, 5);
}
.f {
  background-color: rgb(6, 83, 0);
}
.g {
  background-color: rgb(180, 41, 235);
}
.h {
  background-color: rgb(0, 242, 186);
  color: rgb(9, 5, 5);
}
