<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/normalize.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/axios.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h1>buddy</h1>
    <h1><%= testovaci %></h1>
    <p><%= dny[0].monday[0] %></p>

    <div class="day-container">
      <div class="single-day">
        
      </div>
    </div>

    <!-- <form
      method="POST"
      action="#"
      class="axil-contact-form pay-form-actual-form"
      id="form"
    >
      <label>jméno</label>
      <input
        type="text"
        id="goal"
        class="form-control"
        name="username"
        placeholder="ronaldo"
      />

      <label>heslo</label>
      <input
        type="text"
        id="goal"
        class="form-control"
        name="password"
        placeholder="********"
      />

      <label>day</label>
      <input
        type="text"
        id="goal"
        class="form-control"
        name="day"
        placeholder="monday"
      />

      <label>note</label>
      <input
        type="text"
        id="goal"
        class="form-control"
        name="note"
        placeholder="monday"
      /> -->

      <button class="buttons" id="zapsat-se">zapsat se</button>
      <button class="buttons" id="zrusit">zrušit</button>
      <!-- <button id="zrusit" type="submit">zapsat se</button> -->
    </form>
  </body>
</html>
